@import url('https://fonts.googleapis.com/css?family=Muli%7COpen+Sans&display=swap');
@import 'auth/profile';
@import 'chats/chatShow';
$title: 'Muli', sans-serif;
$text: 'Open Sans', sans-serif;
$yellow: goldenrod;
$grey: #4d4d4d;
$title-size: 30px;
$subtitle-size: 28px;
$subtitle-second-size: 22px;
$paragraph-size: 18px;


.form-input {
  margin: 0 auto;
}
.cardstyle {
  height:100vh;
  width:50vw;
}
.imagestyle {
  height: 600px;
 width: auto;
}

.gemshow {
  margin:30px 10px;
}

.gemshowimage {
  height: auto;
  width: 50vw;
}
a.nav-link {
  text-decoration: none;
  color: gray;
}
a.nav-link:hover {
  text-decoration: none;
  color: goldenrod;
}
.chip-link {
  text-decoration: none;
  color: gray;
}
.chip-link:hover {
  text-decoration: none;
  color: goldenrod;
}

span.add-emoji-button {
  position: absolute;
  right: 94px;
  margin-top: 6px;
  cursor: pointer;
  font-size: 17px;
  width: 23px;
  height: 24px;
  text-align: center;
  border-radius: 10px;
  z-index: 100;
}

span.add-emoji-button:hover {
  background: #80808036;
}

.emojipicker-container {
  position: absolute;
  right: 33px;
  margin-top: -468px;
}
