.loginsection {
text-align: center;
background-image: url("https://www.visa-vietnam.org.vn/files/upload/image/tour-of-Vietnam.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 85vh;
}

.logincolumn {
    background: white;
    border: 50px;
    padding: 8px;
    /* float: right; */
    margin: 75px 51px;
}

.loginsection .form-input {
    margin: 0 auto;
    background: #fafafa;
}

.login-form {
    margin: 20px;
}
// .btn.btn-warning {
//     background: gold;
//     border-color: goldenrod;
//     color: grey;
// }
//
// .btn.btn-warning:focus, .btn.btn-warning:hover {
//   text-decoration: none;
//   // color: $yellow;
//   color: #fff;
// }

.login-form a {
    font-weight: bold;
    color: goldenrod;
}

.loginsection a:visited {
    color: goldenrod;
}

.login-form a:hover {
    color: rgb(59, 67, 81);
}

.loginsection .column.col-7 {
    flex: auto;
}

.loginsection .btn.btn-warning {
  margin: 10px;
  background-color: white;
  text-decoration: none;
  color: $yellow;
  border: 1px solid $yellow;
}

.loginsection .btn.btn-warning:hover {
  background-color: $yellow;
  text-decoration: none;
  color: white;
  border: 1px solid white;
}
