
.loginsection {
text-align: center;
background-image: url("https://www.visa-vietnam.org.vn/files/upload/image/tour-of-Vietnam.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 85vh;
}

.col-3 {
    background: white;
    border: 50px;
    padding: 8px;
    /* float: right; */
    margin: 75px 51px;
}
.form-input {
    margin: 0 auto;
    background: #fafafa;
}

.login-form {
    margin: 20px;
}
